body{
background:#FFFFFF;
margin:0;
padding:0;
display: flex;
flex-direction: column;
}
header{
background: #00453E;
font-family: Bebas Neue;
display:flex;
justify-content: space-evenly;
width: 100%;
}
#logo1{
    width: 140px;
    height: 140px;

}
#poster1{
    width: 100%;
}
  
#dph{
    font-size:x-large;
    color: white;
    padding: 20px;
}
#storename{
    font-size: 60px;

}
#storename2{
    font-family: Great Vibes;
    text-align: center;
}
h1{
    color:#FFFFFF;
    font-family: Bebas Neue;
}
h2{
    font-family: Bebas Neue;
}
nav{
background:#195851;
font-family: Hedvig Letters Sans;
display: flex;
justify-content: space-around;
}
#a1{
text-decoration: none;
color: #FFFFFF;
font-size: larger;
padding: 10px;
margin: 5px;
border-radius: 15px;

}
#a1:hover {
    background-color: #00453E;
}
#a2:hover {
    background-color: #ddd;
}
#header2{
    background: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #c7cece;
    position:sticky;
    top:0;

}
#a2{
text-decoration: none;
color: #373E3E;
font-size: larger;
padding: 20px;
margin:20px;
border-radius: 15px;
}
#items{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

}
#itemwarm{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

}
#itemscon:hover {
    background-color: rgb(223, 219, 219);
}

#itemscon{
  width: 275px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 40px;
  border-radius: 20px;
 
}
#itemsimg{
    width: 278px;
    height: 360px;
}

#itemsname{
    text-align: center;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background:rgb(223, 219, 219);
    font-family: Hedvig Letters Sans;
}
#itemsdes{
    font-family: Hedvig Letters Sans;
    height: 80px;
}
#itemvalue{
    color:#033239;
    font-family: Hedvig Letters Sans;
    text-align: center;
    font-size:xx-large;
    padding: 20px;
    margin-top: 40px;
}
footer{
background:#FFFFFF;
display: flex;
flex-direction: column;
font-family: Bebas Neue;
}
#foot1{
background-color: #37475A;
text-align: center;
color: #FFFFFF;
flex:1;
font-family: Hedvig Letters Sans;
}
#links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}
#foot2{
background: #232F3E;
color: #FFFFFF;
flex:3;
font-family: Hedvig Letters Sans;
padding-left:40px ;
}
